/.lake
.DS_Store
**/.DS_Store
**/*.olean
**/*.ilean
**/*.c
**/*.o
**/__pycache__/
*.cnf
*.lrat
*.drat
lazy_*.cnf
fullsat_*.cnf
om3_*.cnf
map_*.json
sat_*.out
sigma_*.json
state_*.json
state_*.json.tmp
logs/
